body{
	background-color: rgba(168, 145, 145, 0.418);
	align-items: center;
	justify-content: center;
	flex-direction: center;
}

#foto {
    width: 80px;
    max-width: 150px;
    height: 250px;
    max-height: 150px;

    position: center;
	bottom: 40px;
}

#foto img{
    opacity: 0;
    width: 500px;
    height: 500px;
	width: 400px;
	height:400px ;

    transition: opacity 800ms;
}

#foto img.selected { 
    opacity: 1;
}