*{
	margin:20px;
	padding:20px;
}
#meio{
	margin:0 auto;
	background-color:#212196;
	padding:0 20px 20px 20px;
	border:5px soled block;
}
HTML{
	background:#c7c7ba
}
body{
	width:800px;
	margin:0 auto;
	background-color:#F8F8FF
	padding:300px 900px 300px;
	border:sold block;
}
div{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
